# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# SQLite
*.sqlite3
*.db
acaddem.db

# Node
node_modules/
dist/
dist-ssr/
*.local
.npm
package-lock.json

# IDEs
.idea/
.vscode/
*.swp
*.swo
